.card {
	width:100%;
	position:relative;
	overflow:hidden;

	img {
		width: 100%;
	}

	.card-text {
		position:absolute;
		top: 100%;
		left:0;
		width:100%;
		padding: 15px;
		background: #fff;

		h3, h4 {
			margin:0;
		}

		p {
			position:relative;
			opacity: 0;
			top: 40px;
			@include transition(all, 300ms);
		}

		@include transition(all, 300ms);
		@include vendor(transform, translate(0,-70px));
	}
		
	@include hover() {
		.card-text {
			@include vendor(transform, translate(0,-100%));

			p {
				opacity: 1;
				top:0;
			}
		}
	}
}