$hero-height: 690px !default;

$hero-title-style: hero_title_default !default;
$hero-subtitle-style: hero_subtitle_default !default;

.hero {
	width: 100%;
	height: $hero-height;
	background-size: cover;
	text-align: center;

	> .container, .container > .row {
		height: 100%;

		[class*=col-] {
			height: 100%;
			position:relative;
		}
	}

	.hero-content {
		width: 100%;
		position:absolute;
		top:50%;
		left:50%;
		@include vendor(transform, translate(-50%, -50%));

		.title {
			@extend %#{$hero-title-style};
			margin-top: 50px;
		}
		
		.subtitle {
			@extend %#{$hero-subtitle-style};
			margin-bottom: 50px;
		}
	}
}