$menu-head-height: 70px !default;
$menu-head-background-color: $white !default;
$menu-head-border: 1px solid $gray98 !default;
$menu-head-item-style: menu_head_item_default;

$menu-footer-height: auto !default;
$menu-footer-background-color: $black !default;


[class^=menu] {
	font-size: 0;

	&[class*=head] {
		@extend %menu_head;
	}

	&[class*=footer] {
		@extend %menu_footer;
	}

	&[class*=sticky] {
		position: fixed;
			top: 0;
			left: 0;

		z-index: 1000;

		width: 100%;
	}
}

%menu_footer {
	height: $menu-footer-height;
	background: $menu-footer-background-color;
}

%menu_head {
	height: $menu-head-height;
	background: $menu-head-background-color;
	border-bottom: $menu-head-border;

	.logo {
		display: block;

		@extend %hero_subtitle_default;
		text-shadow: none;
		font-size: 24px;
		color: $color-text-primary;

		height: $menu-head-height;
		line-height: $menu-head-height;

		@include hover() {
			text-decoration: none;
		}
	}

	.navigation-row {
		text-align: right;
	}

	.navigation {
		list-style-type: none;
		padding-left: 0;
		display: inline-block;
		background: $menu-head-background-color;
	}

	[class^=menu-tab] {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		position: relative;

		i {
			cursor: pointer;
			display: block;
			width: $menu-head-height;
			height: $menu-head-height;
			font-size: 22px;
			line-height: $menu-head-height;
			color: $color-light-primary;
			background: $color-accent-primary;
			position: relative;
			z-index: 2;

			@include transition(all, 0.3s);

			&:after {
				content: " ";
				position: absolute;
					bottom: 0;
					left: 50%;

				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 8px solid $color-accent-primary;

				@include vendor(transform, translateX(-50%));
				@include transition(all, 0.3s);
			}

			@include hover() {
				background: $color-accent-primary-hover;

				&:after {
					border-top-color: $color-accent-primary-hover;
				}
			}

		}

		&[class*=dark] i {
			background: $color-dark-secondary;

			&:after {
				border-top-color: $color-dark-secondary;
			}

			@include hover() {
				background: $color-dark-secondary-hover;

				&:after {
					border-top-color: $color-dark-secondary-hover;
				}
			}
		}

		.tab-content {
			padding: 15px 40px 40px 40px;
			width: 400px;
			background: $color-dark-primary;
			font-size: 14px;
			text-align: left;

			position: absolute;
				bottom: 0;
				right: -$menu-head-height;

			z-index: -1;

			color: $color-light-primary;
			@include transition(all, 0.3s);

			h1 {
				margin-top: 0;
				font-weight: normal;
			}

			fieldset {
				margin-bottom: 0;
			}

			.lost-password {
				color: $color-light-primary;
			}

			.row-buttons {
				margin-top: 25px;
			}

			input[type="submit"] {
				margin: 0;
				font-weight: $font-weight-bold;
				max-width: 150px;
			}
		}

		&.active {
			i {
				background: $color-accent-primary-hover;

				&:after {
					border-top-color: $color-accent-primary-hover;
					bottom: -8px;
				}
			}

			&[class*=dark] i {
				background: $color-dark-secondary-hover;

				&:after {
					border-top-color: $color-dark-secondary-hover;
				}
			}
		}

		&:last-of-type .tab-content {
			right: 0;
		}
	}

	[class^=menu-item] {
		display: inline-block;
		vertical-align: middle;
		height: $menu-head-height;
		line-height: $menu-head-height;
		padding: 0 10px;

		a {
			display: block;
			height: 100%;
			@extend %#{$menu-head-item-style};
		}
	}

	@include at-most($screen-sm-max) {
		.container {
			width: 100%;
			padding: 0;
		}

		[class*=col-] {
			padding: 0;
		}

		.logo {
			text-align: center;
		}

		.navigation-row {
			text-align: left;
			width: 100%;
			max-width: 320px;
			max-height: 100vh;
			overflow-x: hidden;

			position:absolute;
				top: 0;
				left: 0;
		}

		.navigation {
			width: 100%;
		}

		[class^=menu-item] {
			display: block;
			width: 100%;

			&+[class^=menu-item] {
				border-top: $menu-head-border;
			}
		}

		[class^=menu-tab] {
			display: block;
			width: 100%;
			position: static;

			i {
				width: 100%;
			}

			.tab-content {
				right: auto;
				bottom: auto;
				left: 100%;
				top: 0;

				height: 100%;
				max-width: 100%;
				z-index: 2;
			}

			&.active {
				i {
					&:after {
						display: none;
					}
				}

				.tab-content {
					left: 0;
				}
			}
		}
	}
}
