$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 900 !default;

$font-family-primary: "Open Sans", Arial, Helvetica;

body {
	font-family: $font-family-primary;
	font-weight: $font-weight-normal;
}

%text_default {
	color: blue;
}

.centered {
	text-align: center;
}