
//=========================================================
// VARIABLES DEFINITION
//=========================================================

	//==================================
	// COLORS
	//==================================
		$blue55: #0F8FBE;

		$gray98: #f9f9f9;

		$white: #fff;
		$black: #000;



//=========================================================
// VARIABLES USAGE
//=========================================================

	$color-accent-primary: $blue55;
	$color-accent-secondary: $white;

	$color-text-primary: $white;

	$color-background-primary: $white;

	$grid-gutter-width: 10px;