
//=========================================================
// VARIABLES DEFINITION
//=========================================================

	//==================================
	// COLORS
	//==================================
		$blue55: #0F8FBE;

		$gray98: #f9f9f9;
		$gray30: #474746;
		$gray25: #3c3c3a;

		$white: #fff;
		$black: #000;



//=========================================================
// VARIABLES USAGE
//=========================================================

	$color-accent-primary: $blue55;
	$color-accent-primary-hover: mix($black, $color-accent-primary, 20%);

	$color-dark-primary: $gray30;
	$color-dark-primary-hover: mix($black, $color-dark-primary, 10%);
	$color-dark-secondary: $gray25;
	$color-dark-secondary-hover: mix($black, $color-dark-secondary, 10%);

	$color-light-primary: $white;
	$color-light-primary-hover: mix($black, $white, 5%);

	$color-text-primary: $gray30;

	$color-background-primary: $white;

	$grid-gutter-width: 10px;
